.App {
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
  position: relative;
}

.grid {
  display: grid;
  max-width: 375px;
  border: 1px solid #ccc;
  grid-template-columns: repeat(5, 1fr);
}

.item {
  display: flex;
  height: 65px;
  margin: 5px;
  background: rgb(251, 29, 9);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.robot {
  width: 0;
  height: 0;
}

.robot-direction-NORTH {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #303030;
}

.robot-direction-SOUTH {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #303030;
}

.robot-direction-EAST {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #303030;
}

.robot-direction-WEST {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #303030;
}

.buttons-container {
  display: flex;
  flex-direction: 'row';
  margin-top: 20px
}

.button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 4px 20px 3px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin: 0 10px;
}

.button:hover,
.button:focus {
  opacity: 0.75;
}
